body {
    padding: 30px;
    margin-top: 10px;
}

.custom-card {
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.card-img img {
    width: 100%;
    height: 180px;
    /* object-fit: cover; */
}

/* Red Strip */
.card-strip {
    background: #e31c24;
    color: #fff;
    padding: 10px;
    position: relative;
    width: 85%;
}

.icon-box {
    background: #fff;
    color: #e31c24;
    width: 65px;
    height: 65px;
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    position: relative;
    bottom: -18px;
}

.title-text {
    margin-left: 12px;
    font-weight: 600;
    line-height: 1.2;
}


.arrow-box {
    background-color: #1e5aa7;
    width: 15%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
    font-size: 18px;
    position: relative;
    top: -85px;
    color: #ffffff;
}

.arrow-box:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.mid {
    position: relative;
}

/* Base line container */
.line {
    position: relative;
    height: 6px;
}


/* Horizontal line */
.line::before {
    content: "";
    position: absolute;
    left: 10px;
    bottom: 42px;
    width: 85%;
    height: 15px;
    background-color: #fff;
    border-left: 2px solid #1e5aa7;
    border-bottom: 2px solid #1e5aa7;

}

/* Small vertical line at right */
.line::after {
    content: "";
    position: absolute;
    right: 10%;
    bottom: 42px;
    width: 10px;
    height: 10px;
    background-color: #1e5aa7;
}


/* Content */
.card-content {
    padding-top: 0px;
    padding: 10px;
    font-size: 14px;
    color: #6c757d;
}

@media(max-width: 1400px) {
    card-img img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

@media (max-width: 1200px) {
    .card-strip {
        width: 80%;
    }

    .arrow-box {
        width: 59px;
        height: 54px;
    }

    .line::before {
        bottom: 40px;
        width: 85%;
        height: 20px;
    }

    .line::after {
        bottom: 40px;
    }
}

@media (max-width: 990px) {
    .card-strip {
        width: 80%;
    }

    .arrow-box {
        width: 66px;
        height: 50px;
    }
}

@media (max-width: 768px) {
    .card-strip {
        width: 75%;
    }

    .line::after {
        bottom: 40px;
        right: 17px
    }

    .arrow-box {
        width: 61px;
        height: 52px;
    }
}

@media (max-width:576px) {
    .arrow-box {
        width: 25%;
    }

    .line::after {
        bottom: 40px;
        right: 8%;
    }
}

@media (max-width: 400px) {

    body {
        overflow-x: hidden;
        padding: 0%;
        padding: 0px;
        margin-top: 0px;
    }

    .container {
        padding: 0;
    }

    .title-text {
        line-height: 1.0;
        font-size: 12px;
    }

    .card-strip {
        width: 80%;
    }

    .arrow-box {
        width: 33px;
        height: 42px;
    }

    .row {
        margin-right: 0;
        margin-left: 0;
        padding: 0;
    }

    .line::before {
        bottom: 34px;
        height: 15px;

    }

    .line::after {
        bottom: 34px;
        right: 14px;
    }
}





















/* body {
    padding: 30px;
    margin-top: 10px;
}

.custom-card {
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.card-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
} */

/* Red Strip */
/* .card-strip {
    background: #e31c24;
    color: #fff;
    padding: 10px;
    position: relative;
    width: 85%;
}

.icon-box {
    background: #fff;
    color: #e31c24;
    width: 65px;
    height: 65px;
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    position: relative;
    bottom: -18px;
}

.title-text {
    margin-left: 12px;
    font-weight: 600;
    line-height: 1.2;
}


.arrow-box {
    background-color: #1e5aa7;
    width: 54px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
    font-size: 18px;
    position: relative;
    top: -85px;
    color: #ffffff;
}

.arrow-box:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.mid {
    position: relative;
} */

/* Base line container */
/* .line {
    position: relative;
    height: 6px;
} */


/* Horizontal line */
/* .line::before {
    content: "";
    position: absolute;
    left: 10px;
    bottom: 42px;
    width: 85%;
    height: 15px;
    background-color: #fff;
    border-left: 2px solid #1e5aa7;
    border-bottom: 2px solid #1e5aa7;

} */

/* Small vertical line at right */
/* .line::after {
    content: "";
    position: absolute;
    right: 34px;
    bottom: 42px;
    width: 10px;
    height: 10px;
    background-color: #1e5aa7;
} */


/* Content */
/* .card-content {
    padding-top: 0px;
    padding: 10px;
    font-size: 14px;
    color: #6c757d;
}

@media(max-width: 1400px) {
    card-img img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

@media (max-width: 1200px) {
    .card-strip {
        width: 80%;
    }

    .arrow-box {
        width: 59px;
        height: 54px;
    }

    .line::before {
        bottom: 40px;
        width: 85%;
        height: 20px;
    }

    .line::after {
        bottom: 40px;
    }
}

@media (max-width: 990px) {
    .card-strip {
        width: 80%;
    }

    .arrow-box {
        width: 66px;
        height: 50px;
    }
}

@media (max-width: 767px) {
    .card-strip {
        width: 75%;
    }

    .line::after {
        bottom: 40px;
        right: 17px
    }

    .arrow-box {
        width: 61px;
        height: 52px;
    }
}

@media (max-width:576px) {
    .arrow-box {
        width: 25%;
    }
}

@media (max-width: 400px) {

    body {
        overflow-x: hidden;
        padding: 0%;
        padding: 0px;
        margin-top: 0px;
    }

    .container {
        padding: 0;
    }

    .title-text {
        line-height: 1.0;
        font-size: 12px;
    }

    .card-strip {
        width: 80%;
    }

    .arrow-box {
        width: 32px;
        height: 42px;
    }

    .row {
        margin-right: 0;
        margin-left: 0;
        padding: 0;
    }

    .line::before {
        bottom: 34px;

    }

    .line::after {
        bottom: 34px;
        right: 14px;
    }
} */