.subheading {
    background-color: gray;
    color: black;
    text-align: center;
    padding: 20px;
}
.head-line {

    background-color: aqua;
    color: white;
    text-align: center;
    padding: 10px;
}
.head-line:hover {
    background-color: blueviolet;
}
.subheading:hover {
    background-color: brown;
}
.heading {
    color: black;
    text-align: center;
    text-decoration: double;
    font-weight: bold;
}