body {
    background: #f7f9fc;
}

/* ===== CARD ===== */
.process-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
    position: relative;
    height: 100%;
}

/* ===== TOP ARROW LINE ===== */


.process-line {
    height: 3px;
    width: 50%;
    margin-left: 7px;
    background: #0a3d62;
    position: relative;
}

.process-line::before {
    content: "";
    position: absolute;
    left: -8px;
    top: 50%;
    transform: translateY(-50%);
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 12px solid #0a3d62;
}

.process-line::after {
    position: absolute;
    right: 135px;
    top: -20px;
    width: 42px;
    height: 42px;
    background: #0a3d62;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
}



/* RED triangle */
.process-card.is-red .process-line::before {
    border-left-color: #e31e24;
}

.process-card.is-red .process-line {
    background: #e31e24 solid;
}

.process-card.is-red .process-step {
    background: #e31e24;
}

.process-step {
    position: absolute;
    right: 140px;
    top: -20px;
    width: 42px;
    height: 42px;
    background: #0a3d62;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
}

/* ===== ICON + TITLE ===== */
.icon-title {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 10px;
    padding: 15px;
    padding-top: 25px;

}

.process-icon {
    width: 50px;
    height: 50px;
    background: #eef4fb;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a3d62;
    font-size: 22px;
    flex-shrink: 0;
}

.process-title {
    margin: 0;
    font-weight: 600;
    line-height: 1.3;
    color: #0a3d62;
    font-size: 16px;
}

.process-text {
    font-size: 14px;
    color: #6c757d;
    margin-top: 10px;
    padding: 15px;
    font-size: 13px;
    text-align: justify;
}

/* ===== BOTTOM DOTTED LINE ===== */
.process-footer {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.dot {
    position: relative;
    bottom: -20px;
    right: -152px;
    left: 135px;
    width: 10px;
    height: 10px;
    background: #0a3d62;
    border-radius: 50%;
    z-index: 10;
    bottom: 0px;
}

.process-wrapper {
    position: relative;
    padding-bottom: 40px;
}

.dot-connector {
    position: relative;
    bottom: 5px;
    left: 142px;
    width: 76%;
    border-bottom: 2px dashed #0a3d62;
    z-index: 0;
}

@media(max-width:1400px) {
    .dot-connector {
        left: 125px;
    }

    .process-step {
        right: 115px;
    }

    .dot {
        left: 120px;
    }
}

@media (max-width: 1200px) {
    .dot {
        left: 100px;
    }

    .dot-connector {
        left: 105px;
    }

    .process-step {
        right: 85px;
    }

    .process-title {
        overflow-x: hidden;
        font-size: 16px;
    }

    .process-text {
        text-align: justify;
        font-size: 12px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .dot {
        left: 150px;
        width: 15px;
        height: 15px;
        visibility: hidden;
    }

    .dot-connector {
        visibility: hidden;
    }

    .process-title {
        overflow-x: hidden;
        font-size: 15px;
    }

    .process-text {
        text-align: justify;
        font-size: 11px;
    }
}

@media (max-width: 768px) {
    .process-step {
        right: 85px;
    }

    .dot {
        visibility: hidden;
    }

    .dot-connector {
        visibility: hidden;
    }

    .process-title {
        overflow-x: hidden;
        font-size: 14px;
    }

    .process-text {
        text-align: justify;
        font-size: 10px;
    }
}

@media (max-width: 576px) {
    .process-step {
        right: 100px;
    }

    .dot {
        visibility: hidden;
    }

    .process-title {
        font-size: 13px;
    }

    .process-text {
        text-align: justify;
        font-size: 9px;
    }

    .dot-connector {
        visibility: hidden;
    }
}

@media (max-width:480px) {

    .column-process {
        padding: 3px;
    }

    .process-card {
        border: 1px solid grey
    }

    .process-card.is-red {
        border: 1px solid grey
    }

    .process-step {
        right: 40%;
    }

    .process-title {
        overflow-x: hidden;
        font-size: 12px;
    }

    .process-text {
        text-align: justify;
        font-size: 10px;
    }
}





















/* body {
    background: #f7f9fc;
} */

/* ===== CARD ===== */
/* .process-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
    position: relative;
    height: 100%;
} */

/* ===== TOP ARROW LINE ===== */



/* .process-line {
    height: 3px;
    width: 50%;
    margin-left: 7px;
    background: #0a3d62;
    position: relative;
}

.process-line::before {
    content: "";
    position: absolute;
    left: -8px;
    top: 50%;
    transform: translateY(-50%);
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 12px solid #0a3d62;
}

.process-line::after {
    position: absolute;
    right: 135px;
    top: -20px;
    width: 42px;
    height: 42px;
    background: #0a3d62;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
}
 */


/* RED triangle */
/* .process-card.is-red .process-line::before {
    border-left-color: #e31e24;
}

.process-card.is-red .process-line {
    background: #e31e24 solid;
}

.process-card.is-red .process-step {
    background: #e31e24;
}

.process-step {
    position: absolute;
    right: 110px;
    top: -20px;
    width: 42px;
    height: 42px;
    background: #0a3d62;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
} */

/* ===== ICON + TITLE ===== */
/* .icon-title {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 10px;
    padding: 15px;
    padding-top: 25px;

}

.process-icon {
    width: 50px;
    height: 50px;
    background: #eef4fb;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a3d62;
    font-size: 22px;
    flex-shrink: 0;
}

.process-title {
    margin: 0;
    font-weight: 600;
    line-height: 1.3;
    color: #0a3d62;
    font-size: 16px;
}

.process-text {
    font-size: 14px;
    color: #6c757d;
    margin-top: 10px;
    padding: 15px;
    font-size: 13px;
    text-align: justify;
} */

/* ===== BOTTOM DOTTED LINE ===== */
/* .process-footer {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.dot {
    position: relative;
    bottom: -20px;
    right: -152px;
    left: 135px;
    width: 10px;
    height: 10px;
    background: #0a3d62;
    border-radius: 50%;
    z-index: 10;
    bottom: 0px;
}

.process-wrapper {
    position: relative;
    padding-bottom: 40px;
}

.dot-connector {
    position: relative;
    bottom: 5px;
    left: 11px;
    width: 76%;
    border-bottom: 2px dashed #0a3d62;
    z-index: 0;
}

@media(max-width:1400px){
    .dot-connector{
        left: 145px;
    }
}

@media (max-width: 1200px) {
    .dot {
        left: 100px;
    }

    .dot-connector {
        left: 105px;
    }

    .process-step {
        right: 90px;
    }

    .process-title {
        overflow-x: hidden;
        font-size: 16px;
    }

    .process-text {
        text-align: justify;
        font-size: 12px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .dot {
        left: 150px;
        width: 15px;
        height: 15px;
        visibility: hidden;
    }

    .dot-connector {
        visibility: hidden;
    }

    .process-title {
        overflow-x: hidden;
        font-size: 15px;
    }

    .process-text {
        text-align: justify;
        font-size: 11px;
    }
}

@media (max-width: 768px) {
    .process-step {
        right: 85px;
    }

    .dot {
        visibility: hidden;
    }

    .dot-connector {
        visibility: hidden;
    }

    .process-title {
        overflow-x: hidden;
        font-size: 14px;
    }

    .process-text {
        text-align: justify;
        font-size: 10px;
    }
}

@media (max-width: 576px) {
    .process-step {
        right: 100px;
    }

    .dot {
        visibility: hidden;
    }

    .process-title {
        font-size: 13px;
    }

    .process-text {
        text-align: justify;
        font-size: 9px;
    }

    .dot-connector {
        visibility: hidden;
    }
}

@media (max-width:480px) {

    .column-process {
        padding: 3px;
    }

    .process-card {
       border: 1px solid grey
    }

    .process-card.is-red{
       border: 1px solid grey
    }

    .process-step {
        right: 62px;
    }

    .process-title {
        overflow-x: hidden;
        font-size: 12px;
    }

    .process-text {
        text-align: justify;
        font-size: 10px;
    }
} */