.d4-box {
    margin: 30px;
    border-radius: 210px 210px 0 0;
    text-align: center;
    padding-bottom: 25px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    background:
        linear-gradient(rgb(254 254 254 / 55%), rgb(241 234 234 / 85%)),
        url(/Blogs/assets/image/pic1.avif);
    background-size: cover;
    min-height: 400px;
}



/* top rounded area */
.d4-top {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px 50px 0 0;
}

/* icon circle */
.d4-icon {
    position: relative;
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    color: #f9b233;
    position: relative;
    isolation: isolate;
    z-index: 2;
}

.d4-icon::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 48%;
    transform: translateX(-48%);
    width: 80px;
    height: 40px;
    border: 5px solid #1f4ed8;
    border-top: none;
    border-radius: 0 0 50px 50px;
    transition: all 0.4s ease;
    z-index: 1;
}

.d4-box:hover {
    background:
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(/Blogs/assets/image/pic1.avif);
    background-size: cover;
}

.d4-box:hover .d4-icon::after {
    border-color: #fff;
}

.d4-box:hover .d4-icon {
    background-color: #1f4ed8;
    color: #fff;
}

.d4-box:hover .d4-content {
    color: #fff;
}

/* content */
.d4-content {
    padding: 25px 20px;
    color: #111;
}

.d4-content h2 {
    font-weight: 600;
    margin-bottom: 10px;
}

.d4-content p {
    font-size: 15px;
}


/* button */
.d4-btn {
    position: relative;
    bottom: -27px;
    border: none;
    background: #1f4ed8;
    color: #fff;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 20px;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    width: 100%;
}

.d4-btn::after {
    content: "➜";
    width: 25px;
    height: 25px;
    font-size: 18px;
    border-radius: 50%;
    background-color: #f9b233;
    position: absolute;
    display: flex;
    justify-content: center;
    right: 95px;
}

.d4-btn:hover::after {
    transform: translateX(2px);
}

@media (max-width:1400px) {
    .d4-content {
        padding: 25px 0px;
    }

    .d4-content h2 {
        font-size: 1.5rem;
    }

    .d4-content p {
        font-size: 14px
    }

    .d4-btn {
        font-size: 18px
    }

    .d4-btn::after {
        width: 20px;
        height: 20px;
        font-size: 15px;
        right: 25%;
    }
}

@media (max-width:1200px) {
    .d4-box {
        margin: 0;
    }

    .d4-content h2 {
        font-size: 1.3rem;
    }

    .d4-content p {
        font-size: 13px
    }

    .d4-btn {
        font-size: 17px;
        bottom: -36px;
    }
}

@media(max-width:992px) {
    .d4-icon {
        font-size: 20px;
        width: 60px;
        height: 60px;
    }

    .d4-icon::after {
        width: 70px;
        height: 35px;
        bottom: -5px;
    }

    .d4-content {
        padding: 25px 6px;
    }

    .d4-content h2 {
        font-size: 1.0rem;
    }

    .d4-btn {
        font-size: 15px;
        bottom: -27px;
    }
}

@media (max-width:768px) {
    .d4-box {
        margin: 15px;
    }

    .d4-btn::after {
        width: 16px;
        height: 16px;
        font-size: 11px;
        right: 30%;
    }
}

@media (max-width:575.98px) {
    .d4-box {
        margin: 5px 80px;
    }

    .d4-btn::after {
        right: 32%;
        bottom: 12px;
    }
}

@media (max-width:480px) {
    .d4-box {
        margin: 2px 50px;
    }

    .d4-btn::after {
        right: 30%;
        bottom: 13px;
    }
}

@media (max-width:385px) {
    .d4-box {
        margin: 2px 20px;
    }

    .d4-btn::after{
        right: 28%;
    }
}









/* .d4-box {
    margin: 30px;
    border-radius: 210px 210px 0 0;
    text-align: center;
    padding-bottom: 25px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    background:
        linear-gradient(rgb(254 254 254 / 55%), rgb(241 234 234 / 85%)),
        url(/designbox14/assets/image/pic1.avif);
    background-size: cover;
    min-height: 400px;
}
 */


/* top rounded area */
/* .d4-top {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px 50px 0 0;
} */

/* icon circle */
/* .d4-icon {
    position: relative;
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    color: #f9b233;
    position: relative;
    isolation: isolate;
    z-index: 2;
}

.d4-icon::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 48%;
    transform: translateX(-48%);
    width: 80px;
    height: 40px;
    border: 5px solid #1f4ed8;
    border-top: none;
    border-radius: 0 0 50px 50px;
    transition: all 0.4s ease;
    z-index: 1;
}

.d4-box:hover {
    background:
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(/designbox14/assets/image/pic1.avif);
    background-size: cover;
}

.d4-box:hover .d4-icon::after {
    border-color: #fff;
}

.d4-box:hover .d4-icon {
    background-color: #1f4ed8;
    color: #fff;
}

.d4-box:hover .d4-content {
    color: #fff;
} */

/* content */
/* .d4-content {
    padding: 25px 20px;
    color: #111;
}

.d4-content h2 {
    font-weight: 600;
    margin-bottom: 10px;
}

.d4-content p {
    font-size: 15px;
} */


/* button */
/* .d4-btn {
    position: relative;
    bottom: -27px;
    border: none;
    background: #1f4ed8;
    color: #fff;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 20px;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    width: 100%;
}

.d4-btn::after {
    content: "➜";
    width: 25px;
    height: 25px;
    font-size: 18px;
    border-radius: 50%;
    background-color: #f9b233;
    position: absolute;
    display: flex;
    justify-content: center;
    right: 95px;
}

.d4-btn:hover::after {
    transform: translateX(2px);
}

@media (max-width:1400px) {
    .d4-content {
        padding: 25px 0px;
    }

    .d4-content h2 {
        font-size: 1.5rem;
    }

    .d4-content p {
        font-size: 14px
    }

    .d4-btn {
        font-size: 18px
    }

    .d4-btn::after {
        width: 20px;
        height: 20px;
        font-size: 15px;
        right: 25%;
    }
}

@media (max-width:1200px) {
    .d4-box {
        margin: 0;
    }

    .d4-content h2 {
        font-size: 1.3rem;
    }

    .d4-content p {
        font-size: 13px
    }

    .d4-btn {
        font-size: 17px;
        bottom: -36px;
    }
}

@media(max-width:992px) {
    .d4-icon {
        font-size: 20px;
        width: 60px;
        height: 60px;
    }

    .d4-icon::after {
        width: 70px;
        height: 35px;
        bottom: -5px;
    }

    .d4-content {
        padding: 25px 6px;
    }

    .d4-content h2 {
        font-size: 1.0rem;
    }

    .d4-btn {
        font-size: 15px;
        bottom: -27px;
    }
}

@media (max-width:768px) {
    .d4-box {
        margin: 15px;
    }

    .d4-btn::after {
        width: 16px;
        height: 16px;
        font-size: 11px;
        right: 30%;
    }
}

@media (max-width:576px) {
    .d4-box {
        margin: 5px 80px;
    }

    .d4-btn::after {
        right: 32%;
    }
} */
